<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Launcfile of puzzlebot_gazebo -->
    <include file="$(find puzzlebot_gazebo)/launch/puzzlebot_gazebo.launch"/>
    <!-- Lidar frame with respect to base_link frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0  0  0.1  3.1416  0  0  base_link lidar"/>
    <!-- Carrot frame with respect to camera frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="link2_broadcaster" args="0.1  0.1  0.05  0  0  1.5708  camera carrot"/>
</launch>