<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Launchfile for jetson -->
    <!-- Node(s) -->
    <node pkg="donatello_puzzlebot" name="detect_line" type="detect_line.py"/>
    <node pkg="donatello_puzzlebot" name="crop_jetson" type="crop_jetson.py"/>
    <node pkg="donatello_puzzlebot" name="detect_color" type="detect_color.py" />
    <node pkg="donatello_puzzlebot" name="donatello_main" type="donatello_main.py" output="screen"/>

    <!-- <include ns="donatello" file="$(find ros_deep_learning)/launch/video_viewer.ros1.launch" args="input_width:=320 input_height:=180"> -->
        <!-- <arg name="input_width" value="320" />
        <arg name="input_height" value="180" /> -->
    <!-- </include> -->
    
</launch>

<!-- roslaunch ros_deep_learning video_viewer.ros1.launch input_width:=320 input_height:=180 -->